<div class="row pricing-content">
  <section class="pricing-description">
    <h1>Pricing options</h1>
    <div>
      <h2>Starter Plan - Get Your Idea Online:</h2>
      <p>
        Launch your online presence with our Starter Plan, ideal for individuals and small businesses
        seeking a professional website or online store. With
        responsive customer support and a user-friendly platform, you'll have the tools you need to get your
        ideas online quickly and affordably
      </p>
    </div>

    <div>
      <h2>Business Plan - Grow Your Online Presence:</h2>
      <p>
        Amplify your online growth with our Business Plan, tailored for
        businesses and entrepreneurs who want advanced features and scalability. Unlock
        powerful tools such as SEO optimization, email marketing integrations, and enhanced
        analytics to attract more customers and drive sales. With priority support and expert guidance,
        you'll have the resources and support necessary to expand your online presence and maximize your success
      </p>
    </div>

    <div>
      <h2>Enterprise Plan - Custom Solutions for Your Business:</h2>
      <p>
        Elevate your online business with our Enterprise Plan, designed for larger organizations and ambitious
        projects. Benefit from fully customizable solutions, dedicated account management, and enterprise-grade
        security features tailored to your business needs. Our team of experts will collaborate closely with you
        to develop customized strategies and solutions that drive growth and innovation, helping you stay ahead
        of
        the competition
      </p>
    </div>
  </section>
</div>

