<main>
  <section class="section-content">
    <div class="outer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h4>Benefits of getting your website</h4>
            <ul>
              <li>Get more customers</li>
              <li>Get more sales</li>
              <li>Get more leads</li>
              <li>Get more traffic</li>
              <li>Get more exposure</li>
              <li>Get more brand awareness</li>
              <li>Get more credibility</li>
              <li>Get more trust</li>
              <li>Get more authority</li>
              <li>Get more value</li>
            </ul>
          </div>

          <div class="col-md-12">
            <h4>Just SOME otf the things you will get</h4>
            <ul>
              <li>Responsive design</li>
              <li>SEO optimized</li>
              <li>Fast loading</li>
              <li>Easy to use</li>
              <li>Easy to manage</li>
              <li>Easy to update</li>
              <li>Easy to customize</li>
              <li>Easy to scale</li>
              <li>Easy to integrate</li>
              <li>Easy to maintain</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>