<main>
  <section class="section-content">
    <div class="polygon"></div>
    <div class="outer">
      <div class="container">
        <div class="row">
          <div class="col1">
            <div class="bgimage-col1"></div>
            <h4>Benefits of getting your website</h4>
            <ul>
              <li>Boost customer base</li>
              <li>Increase sales figures</li>
              <li>Generate leads effectively</li>
              <li>Drive website traffic</li>
              <li>Enhance online visibility</li>
              <li>Build brand recognition</li>
              <li>Establish trustworthiness</li>
              <li>Gain customer trust</li>
              <li>Develop industry authority</li>
              <li>Provide valuable solutions</li>
            </ul>
          </div>

          <div class="col2">
            <div class="bgimage-col2"></div>
            <h4>Just SOME of the things you will get</h4>
            <ul>
              <li>Responsive design for device adaptability</li>
              <li>SEO optimization for better visibility</li>
              <li>Fast loading for quick access</li>
              <li>User-friendly interface</li>
              <li>Manageable content</li>
              <li>Updateable with ease</li>
              <li>Customizable to your needs</li>
              <li>Scalable for growth</li>
              <li>Integratable with other systems</li>
              <li>Maintainable for longevity</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>