<div class="row">
  <div class="col1">
    <div class="bgimage-col-wrapper">
      <div class="bgimage-col1"></div>
    </div>
    <h4>Types of Custom Software Developement</h4>
    <div class="home-ul-wrapper">
      <ul>
        <li>Customized Product Development</li>
        <li>Mobile App Development</li>
        <li>Ecommerce Software Development</li>
        <li>Software as a Service Development</li>
        <li>Content Management System</li>
        <li>Customer Relationship Management System</li>
        <li>Enterprise Resource Planning Software</li>
        <li>Operation Management System</li>
        <li>Enterprise Software Solutions</li>
        <li>Fintech Software Development</li>
      </ul>
    </div>
  </div>

  <div class="col2">
    <div class="bgimage-col-wrapper">
      <div class="bgimage-col2"></div>
    </div>
    <h4>Just SOME of the things you will get</h4>
    <div class="home-ul-wrapper">
      <ul>
        <li>Business-oriented</li>
        <li>Client Retention</li>
        <li>Reliability</li>
        <li>Scalability</li>
        <li>Integration</li>
        <li>Security</li>
        <li>Cost-Effective</li>
        <li>Business Automation</li>
        <li>Integratable with other systems</li>
        <li>Maintainable for longevity</li>
      </ul>
    </div>
  </div>
</div>
