<div class="about-container">
  <h2>About Erick Contreras</h2>

  <div class="about-content">
    <div class="about-img-top"></div>

    <div class="about-description">
      <p>
        Erick started writing code in 2020. He has built web apps and websites for business' large and small.
      </p>

      <p>
        Erick has been interested for programming since he was a student on the University where he studied Electrical and Electronic Engineering.
      </p>

      <p>
        He has been working with different teams through his career finding interesting challenges.
      </p>
    </div>

    <div class="about-img"></div>
  </div>
</div>
