<div class="about-container">
  <h2>About Erick Contreras</h2>

  <div class="about-content">
    <div class="about-img-top"></div>

    <div class="about-description">
      <p>
        Erick started writing code since 2019 at collegue when he was studying Electrical and Electronic Engineering.
        He has been fall in love with coding since then and make him lead his life through Software.
      </p>

      <p>
        He has built web apps and websites for business' large and small. On his spread time he loves to develop executable CLI applications
        to automate some of his tasks in the daily basis.
      </p>

      <p>
        He has been working with different teams through his career finding interesting challenges and waiting for new ones that can
        lead him to learn new ways to tackle problems.
      </p>
    </div>

    <div class="about-img"></div>
  </div>
</div>
