.about-content {
  display: flex;
}

.about-img {
  background-image: url("./me_at_office_though.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
}

.about-container h2 {
  padding: 4rem 0;
}

.about-description {
  max-width: 90%;
  padding-right: 2rem;
}

.about-description p {
  padding: 0 0 2rem 0;
}

/* Media queries */
@media (max-width: 1000px) {
  .about-content {
    flex-direction: column;
  }

  .about-img {
    display: none;
  }

  .about-img-top {
    background-image: url("./me_at_office_though.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 81vw;
    height: 31vh;
  }

  .about-description {
    max-width: 100%;
    padding: 0;
  }

  .about-container h2 {
    font-size: 2.5rem;
  }

  .about-container {
    padding-top: 2rem;
  }

  .about-image-wrapper {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    border-radius: 8%;
    border: 1px solid #cee6ff;
  }
}
