.col1, .col2 {
  padding: 2rem;
}

.col1 h4, .col2 h4{
  font-size: 2.3rem;
  margin: 2rem 0;
  color: var(--blue);
}

.bgimage-col1 {
  background-image: url("./page1.svg");
}

.bgimage-col2 {
  background-image: url("./website.svg");
}

.bgimage-col1, .bgimage-col2 {
  background-size: contain;
  background-repeat: no-repeat;
  height: 10%;
  width: 20%;
}

main li::marker {
  color: var(--blue);
  line-height: 5rem;
}

.home-ul-wrapper, .bgimage-col-wrapper {
  display: flex;
  justify-content: center;
}

.home-ul-wrapper ul {
  max-width: 72%;
}

/* Media queries */
@media (max-width: 1450px) {
  #site-header .container {
    padding-top: 14%!important;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  main .container {
    padding: 3rem 0 0 0;
  }

  .bgimage-col1, .bgimage-col2 {
    height: 5rem;
    margin-top: 0rem;
  }
}

@media (max-width: 390px) {
  main ul li {
    font-size: 1.5rem;
  }

  .col1 h4, .col2 h4{
    font-size: 1.7rem;
  }

  body {
    line-height: 14px;
  }

  main li::marker {
     line-height: 2rem;
  }

  .col1, .col2 {
    padding: 2rem 0;
  }
}
