main .section-content {
  padding: 0 0 10rem 0;
}

main .outer {
  max-width: 60%;
  margin: 0 auto;
  background-color: white;
}

main .container {
  font-size: 2rem;
  height: 100%;
}

main .row {
  display: flex;
  justify-content: space-around;
  padding: 6rem;
  height: 100%;
}

.col1, .col2 {
  max-width: 40rem;
}

.col1 h4, .col2 h4{
  font-size: 2.3rem;
  margin: 2rem 0;
  color: #193ab6;
}

.bgimage-col1 {
  background-image: url("./page1.svg");
}

.bgimage-col2 {
  background-image: url("./website.svg");
}

.bgimage-col1, .bgimage-col2 {
  background-size: contain;
  background-repeat: no-repeat;
  height: 10%;
  width: 20%;
}

main li::marker {
  color: #193ab6;
  line-height: 5rem;
}

footer {
  background-color: #e8e8e8;
  color: white;
  padding: 6rem 0 0 0;
  text-align: center;
}

.rights-reserved p:first-child {
  font-size: 2rem;
  color: #3d3d3d;
  font-weight: bold;
}

.rights-reserved p:last-child {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #939393;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media svg {
  max-width: 50%;
}