.imagebg {
  background-image: url("./laptop2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

header {
  padding: 4rem 0;
}

#site-header {
  height: 77vh;
}

#site-header ul {
  text-align: right;
  list-style: none;
}

#site-header ul li {
  display: inline;
  margin: 0 2rem;
}

#site-header .container {
  width: 50%;
  margin: 0 auto;
  color: white;
  padding-top: 12%;
}

#site-header .container a {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

#site-header .container h1 {
  font-size: 4rem;
  margin-top: 3rem;
}

.full-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  flex-direction: column;
}

.full-container ul {
  margin: 3.5rem 0 0 0;
}

.full-container ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}

.full-container ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: from-font;
}

.active {
  text-decoration: underline !important;
  text-underline-offset: 0.5rem !important;
  text-decoration-thickness: from-font !important;
  color: #ff9100 !important;
}

.buttons {
  text-align: right;
}

.buttons a {
  font-size: 1.5rem;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-family: initial;
}

.buttons a:first-child {
  background-color: #ffffff;
  text-transform: uppercase;
}

.buttons a:first-child:hover {
  background-color: #3348f5;
}

.buttons a:last-child {
  background-color: #d35a01;
  color: white;
  text-transform: uppercase;
}

.buttons a:hover {
  background-color: #e56200;
  color: white;
}

.btn-right {
  margin: 0 0 0 1rem;
}

/* query for mobile */
@media (max-width: 1450px) {
  #site-header .container h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1192px) {
  #site-header .container {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .full-container {
    display: none;
  }

  #site-header .container {
    width: 75%;
  }
}