.imagebg {
  background-image: url("./laptop2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

header {
  padding: 4rem 0;
}

#site-header {
  height: 77vh;
}

#site-header ul {
  text-align: right;
  list-style: none;
}

#site-header ul li {
  display: inline;
  margin: 0 2rem;
}

#site-header .container {
  width: 50%;
  margin: 0 auto;
  color: white;
  padding-top: 12%;
}

#site-header .container a {
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

#site-header .container h1 {
  font-size: 4rem;
  margin-top: 3rem;
}

.full-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  flex-direction: column;
}

.full-container ul {
  margin: 3.5rem 0 0 0;
}

.full-container ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #ffffff;
}

.full-container ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: from-font;
}

.active {
  text-decoration: underline !important;
  text-underline-offset: 0.5rem !important;
  text-decoration-thickness: from-font !important;
  color: #ff9100 !important;
}

.buttons {
  text-align: right;
}

.buttons a {
  font-size: 1.5rem;
  padding: 1.3rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-family: initial;
}

.buttons a:first-child {
  background-color: #ffffff;
  text-transform: uppercase;
}

.buttons a:first-child:hover {
  background-color: #3348f5;
}

.buttons a:last-child {
  background-color: #d35a01;
  color: white;
  text-transform: uppercase;
}

.buttons a:hover {
  background-color: #e56200;
  color: white;
}

.btn-right {
  margin: 0 0 0 1rem;
}

.hamburger-menu {
  display: none;
}

/* query for mobile */
@media (max-width: 1450px) {
  #site-header .container h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1192px) {
  #site-header .container {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .full-container {
    display: none;
  }

  #site-header .container {
    width: 75%;
    padding-top: 24%;
  }

  #site-header ul {
    text-align: left;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 2rem;
    right: 4rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }

  .hamburger-menu svg {
    height: 4rem;
    width: 5rem;
  }

  .buttons {
    text-align: left;
  }
}

@media (max-width: 800px) {
  #site-header .container {
    width: 86%;
    padding-top: 33%;
  }
}

@media (max-width: 633px) {
  #site-header .container {
    width: 85%;
    padding-top: 40%;
  }
}

@media (max-width: 456px) {
  .modal-buttons {
    font-size: 2rem;
  }
}

/* modal */
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(17, 0, 255);
}

.modal-content {
  padding: 20px;
  width: 80vw;
}

.modal-content ul {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal-content ul li {
  margin: 2rem 2rem !important;
  font-size: 2rem;
}

.modal-content ul li a {
  text-decoration: none;
  color: #ffffff;
}

.modal-x {
  font-size: 4rem;
  color: #ffffff;
  text-align: end;
  margin: 3rem;
}

.modal-buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 28rem;
}

.modal-buttons-btn-left, .modal-buttons-btn-right {
  margin: 3rem 0 0 0;
}
