.skills-content {
  font-size: 1.7rem;
}

.skills-content p {
  margin: 4rem 0;
}

.skills-content h2 {
  padding: 2rem 0 0 0;
}

.language-content {
  display: flex;
  max-width: 100%;
  padding: 0 0 4rem 0;
}

.language-img-content {
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  max-width: 40%;
}

.language-img-content img {
  width: 60%;
  padding: 3rem;
}

.right {
  flex-direction: row-reverse;
}

.language-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 65%;
  padding: 0 4rem;
}

.language-description strong {
  color: var(--blue);
}

@media (max-width: 800px) {
  .language-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0 0 4rem 0;
  }

  .language-img-content {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    max-width: 100%;
  }

  .language-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 0 0;
  }

  .language-description strong {
    padding-top: 4rem;
  }
}