<main>
  <section class="section-content">
    <div class="polygon"></div>
    <div class="outer">
      <div class="container">

        <h1>Curriculm page</h1>
      </div>
    </div>
  </section>
</main>